@page
@model ListModel
@{
}

<h1>Restaurants</h1>

<form method="get">
    <div class="form-group">
        <div class="input-group">
            @*<input type="search" name="searchTerm" class="form-control" value="" />*@
            <input type="search" asp-for="SearchTerm" class="form-control" />
            <span class="input-group-btn">
                <button class="btn btn-default">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
            </span>
        </div>
    </div>
</form>
<table class="table">
    @foreach (var r in Model.Restaurants)
    {
    <tr>
        <td> @r.Id</td>
        <td> @r.Name</td>
        <td> @r.Location</td>
        <td> @r.Cusiine</td>
        <td>
            <a class="btn btn-lg" asp-page="./Details" title="Restaurant Details"
               asp-route-restaurantId="@r.Id">
                <i class="glyphicon glyphicon-zoom-in"></i>
            </a>
        </td>
        <td>
            <a class="btn btn-lg" asp-page="./Edit" title="Restaurant Details"
               asp-route-restaurantId="@r.Id">
                <i class="glyphicon glyphicon-edit"></i>
            </a>
        </td>
    </tr>
    }

</table>
<a asp-page=".\Edit" class="btn btn-primary"> Add New</a>
<div>
    @Model.MessageCs
    @Model.MessageApp
</div>
